/* VARIABLES */
$main-color: #26478D;
$secundary-color:#00CC99;
$white: #FFFFFF;
$black: #000;
$gray: #54555A;
$gray1: #767579;
$gray-light: #B2B2B2;
$gray-super-light: #F5F5F5;
$red: #BA2F7D;
$blue-light: #00CCFF;
$blue-dark: #0D6DB5;

$deep-blue: #26478D;
$bright-blue: #406EB3;
$bg-dark: hsla(219, 3%, 34%, 1);
$bg-light: hsla(240, 30%, 96%, 1);
$bg-mid: hsla(255, 1%, 46%, 1);
$dark-gray: hsla(219, 3%, 34%, 1);
$light-gray: hsla(0, 0%, 80%, 1);
$form-gray:hsla(0, 0%, 50%, 1);
$form-placeholder:hsla(0, 0%, 69%, 1);
$form-input-border: hsla(210, 14%, 83%, 1);
$error:hsla(318, 66%, 40%, 1);
$aprove: #3F9B53;

$title: #0B0B0B;
$txt-gray: hsla(230, 3%, 34%, 1);
$light-gray: hsla(0, 0%, 81%, 1);
$midc: #632678;
$main-bg: #f2f2f8;