@import "styles.scss";
@import "styles/base/_forms.scss";
.detail {
  position: relative;
  .container {
    padding: 10px 40px;
    @media (min-width: 768px) {
      padding: 25px;
    }
  }
  .head {
    background: #f7f7f7;
    background-image: url(assets/images/new/text_01.svg);
    background-size: cover;
    background-blend-mode: multiply;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45vh;
    width: 100%;
    z-index: 0;
    @media (min-width: 768px) {
      height: 430px;
    }
  }
  .state-txt {
    height: 100px;
    position: relative;
    z-index: 2;
    background-color: #d1d1d1;
    padding: 20px;
    width: 100%;
    // top: 50vh;
    p {
      color: $txt-gray;
    }
  }
  .head-wrap {
    // background-color: $white;
    background-color: transparent;
    z-index: 2;
    position: relative;
    border-radius: 4px;
    padding: 15px;
    @media (min-width: 768px) {
      background-color: transparent;
    }
    .btn {
      display: none;
      @media (min-width: 768px) {
        display: initial;
        height: 50px;
      }
    }
    a {
      &.btn {
        display: inline-block;
        height: 50px;
        width: 200px;
        padding-top: 10px;
      }
    }
    .icon {
      width: 100px;
    }
  }
  .logo {
    background-color: $white;
    // padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
  }
  .logo-h {
    background: transparent;
    width: 7%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    @media (min-width: 768px) {
      width: 3%;
    }
  }
  .name {
    font-family: $din;
    p {
      font-size: 26px;
      font-family: $din;
      color: $black;
      font-weight: $light;
      padding-top: 15px;
      line-height: 20px;
      @media (min-width: 768px) {
        font-size: 40px;
        margin-top: 20px;
      }
    }
    strong {
      font-family: $roboto;
      display: block;
      font-size: 20px;
      font-weight: $bold;
      margin-top: 5px;
      @media (min-width: 768px) {
        font-size: 22px;
        margin-top: 15px;
      }
    }
  }
  .item-wrap {
    border-radius: 6px;
    border-bottom: 5px solid $secundary-color;
    background: white;
    padding: 5px 10px;
    -webkit-box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
    -moz-box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
    box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
    @media (min-width: 768px) {
      border: none;
      background: none;
      box-shadow: none;
    }
  }
  .item-info {
    &:first-child{
      padding: 3px 3px 3px 3px;
    }
    text-align: left;
    padding: 3px 3px 0px 3px;
    box-sizing: border-box;
    background-color: $white;
    border-bottom: 1px solid rgba($txt-gray, 0.2);
    margin-top: 15px;
    
    @media (min-width: 768px) {
      text-align: center;
      background-color: $white;
      border-bottom: 5px solid $secundary-color;
      border-radius: 6px;
      margin: 10px 20px 20px 20px;
      padding: 10px 10px 20px 10px;
      -webkit-box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
      -moz-box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
      box-shadow: 3px 4px 17px 1px rgba(163, 163, 163, 1);
    }
    .logo {
      display: none;
      @media (min-width: 768px) {
        margin: 0px auto;
        display: block;
      }
      .icon {
        width: 80px;
      }
    }
    .info {
      font-size: 25px;
      margin: 0px;
      display: block;
      order: initial;
      text-align: left;
      @media (min-width: 768px) {
        text-align: center;
        font-size: 32px;
      }
      // font-size: 20px;
      // font-weight: $light;
      // display: inline-block;
      // order: 13;
      // margin: 5px;
      // margin-right: 10px;
      // width: 50%;
      // text-align: left;
      // @media (min-width: 768px) {
      //   font-size: 32px;
      //   margin: 0px;
      //   display: block;
      //   order: initial;
      //   text-align: center;
      // }
    }
    .txt {
      font-size: 12px;
      color: $form-gray;
      margin-bottom: 20px;
      margin: auto;
      display: block;
      text-align: left;
      @media (min-width: 768px) {
        text-align: center;
        font-size: 16px;
      }
      // font-size: 12px;
      // color: $form-gray;
      // display: inline-block;
      // // margin: 10px;
      // margin-top: 12px;
      // // margin-left: 55px;
      // width: 40%;
      // text-align: right;
      // @media (min-width: 768px) {
      //   font-size: 16px;
      //   margin-bottom: 20px;
      //   margin: auto;
      //   display: block;
      //   text-align: center;
      // }
    }
  }
  .info-step {
    margin: 20px auto;
    p {
      font-size: 20px;
      color: $bg-dark;
      font-weight: $light;
      line-height: 25px;
      padding-right: 15px;
      text-align: center;
      @media (min-width: 768px) {
        text-align: right;
        border-right: 1px solid $bg-dark;
      }
    }
  }
  .steps {
    margin-top: 10px;
    margin-left: 5px;
    .step {
      text-align: center;
      opacity: 0.5;
      @media (min-width: 768px) {
        text-align: left;
        padding: 0px;
      }
      &.complete {
        opacity: 1;
        .state {
          border: 1px solid $secundary-color;
          background: rgba($secundary-color, 1);
        }
      }
      &.active {
        opacity: 1;
        .state {
          border: 1px solid $secundary-color;
          background: rgba($secundary-color, 0.4);
        }
      }
      span {
        display: block;
        @media (min-width: 768px) {
          display: inline-block;
          vertical-align: text-bottom;
          margin-left: 10px;
        }
      }
      .state {
        height: 15px;
        width: 15px;
        margin: 2px auto;
        border-radius: 50%;
        border: 1px solid $txt-gray;
        background: $white;
      }
      .txt {
        font-weight: $bold;
        font-size: 12px;
      }
    }
  }
  .subcat {
    font-size: 20px;
    color: $txt-gray;
    font-weight: $bold;
    text-align: center;
    // margin-bottom: 10px;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  hr {
    display: block;
    width: 100px;
    // height: 2px;
    border-top: 2px solid $secundary-color;
    margin: 20px auto;
    color: $secundary-color;
    @media (min-width: 768px) {
      margin: 20px 0px;
    }
  }
  .items {
    padding: 5px;
    @media (min-width: 768px) {
      padding-right: 50px;
    }
    .item {
      padding: 12px 5px;
      border-bottom: 1px solid rgba($form-gray, 0.3);
      font-size: 12 px;
      @media (min-width: 768px) {
        padding: 15px 5px;
        font-size: 14px;
      }
      div {
        display: inline-block;
        // width: 50%;
        // @media (min-width: 768px) {
        //   width: 40%;
        // }
      }
      .name {
        color: $txt-gray;
        width: 50%;
        @media (min-width: 768px) {
          width: 60%;
        }
      }
      .info {
        color: $txt-gray;
        width: 50%;
        @media (min-width: 768px) {
          width: 40%;
        }
      }
    }
  }
  .benefits {
    font-size: 14px;
    color: $bg-mid;
    font-weight: $regular;
    padding: 5px 15px;
    ul {
      padding: 0px;
      list-style: none;
      li {
        padding: 15px 0px;
        &::before {
          content: "✓";
          color: $secundary-color;
          font-weight: 700;
        }
      }
    }
  }
  .desktop {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    .imgvg {
      width: 2%;
      vertical-align: bottom;
    }
    .col-6,
    .col-5 {
      display: inline-block;
      vertical-align: top;
    }
  }
  .alert {
    font-weight: lighter;
    p {
      line-height: 13px;
      font-size: 14px;
      @media (min-width: 768px) {
        line-height: 10px;
        font-size: 16px;
      }
    }
  }
  .nav-link {
    color: $txt-gray;
    border: none;
    border-bottom: 2px solid ($txt-gray, 0.3);
    font-size: 20px;
    font-weight: $bold;
    &.active {
      color: $secundary-color;
      border-bottom: 2px solid $secundary-color;
    }
  }
  .btn-mobile {
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    margin: auto;
    z-index: 1;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .legal {
    background: $bg-light;
    font-size: 12px;
    font-weight: $regular;
    color: $txt-gray;
  }
  .success {
    .process {
      background-color: $secundary-color;
      color: $white;
      padding: 20px 40px;
      // padding: 40px 20px 20px 120px;
      // margin-right: 60px;
      @media (min-width: 768px) {
        padding: 40px 20px 20px 80px;
        margin-right: 60px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
      hr {
        display: block;
        width: 100px;
        border-top: 2px solid $white;
        margin: 20px auto;
        color: $white;
        @media (min-width: 768px) {
          margin: 20px 0px;
        }
      }
    }
    .help-txt {
      margin-top: 40px;
    }
    .sc-subcat {
      font-size: 24px;
      color: $white;
      font-weight: $bold;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
    ul {
      padding: 0px;
      li {
        padding: 15px 0px;
      }
    }
  }
  .state-header {
    .info-state {
      border-radius: 8px;
      background-color: $white;
      border-bottom: 8px solid $secundary-color;
      .item {
        padding: 5px;
        border-bottom: 2px solid $light-gray;
      }
      .info {
        font-family: $roboto;
        font-size: 20px;
        margin-top: 10px;
        span {
          display: block;
          color: $txt-gray;
          font-size: 14px;
        }
      }
      .logo {
        background: none;
        padding: 2px;
        border-radius: 8px;
        text-align: center;
        .icon {
          height: 60px;
        }
      }
    }
    .btn {
      margin-top: -8px;
      width: 300px;
    }
  }
}
