<div class="container content">
    <div class="row">
      <div class="col">
        <div class="title">
          {{sesion.datos.instrucciones?.titulo}}
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 item">
        <object class="icon" type="image/svg+xml" data="assets/icons/new/home_01.svg">
          Your browser does not support SVG
        </object>
        <div class="sub-title">
            {{sesion.datos.instrucciones?.paso1titulo}}
        </div>
        <p>
          {{sesion.datos.instrucciones?.paso1info}}
        </p>
      </div>
      <div class="col-md-4 item">
        <object class="icon" type="image/svg+xml" data="assets/icons/new/home_02.svg">
          Your browser does not support SVG
        </object>
        <div class="sub-title">
          {{sesion.datos.instrucciones?.paso2titulo}}
        </div>
        <p>
          {{sesion.datos.instrucciones?.paso2info}}
        </p>
      </div>
      <div class="col-md-4 item">
        <object  class="icon" type="image/svg+xml" data="assets/icons/new/home_03.svg">
          Your browser does not support SVG
        </object>
        <div class="sub-title">
          {{sesion.datos.instrucciones?.paso3titulo}}
        </div>
        <p>
          {{sesion.datos.instrucciones?.paso3info}}
        </p>
      </div>
    </div>
  </div>
