<div class="submenu" *ngIf="sesion.loggedIn">
  <ul class="nav justify-content-end container p-0">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/ofertas">Ofertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Mis ofertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/mis-datos">Mis datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Notificaciones</a>
    </li>
  </ul>
</div>
