<div class="container-fluid blog">
  <div class="bg"></div>
  <div class="gr"></div>
  <div class="container">
    <div class="row header">
      <div class="col-6">
        <div class="title">
            Título ganador del blog 
        </div>
        <p>Estos son los contenidos financieros más ganadores del mercado.</p>
      </div>
      <div class="col-12">
        <input type="text">
        <button class="btn btn-secundary btn-lg">Suscríbete</button>
      </div>
    </div>
    <div class="row wrap">
      <div class="col title">
        Últimos articulos
      </div>
      <div class="row mt-2">
        <div class="col-4">
          <div class="card text-center">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Julio 8 de 2019 - 4 min de lectura</small></p>
              <h5 class="card-title">¿Para qué me sirve conocer el Score de Crédito?</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card text-center">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Julio 8 de 2019 - 4 min de lectura</small></p>
              <h5 class="card-title">¿Para qué me sirve conocer el Score de Crédito?</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card text-center">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Julio 8 de 2019 - 4 min de lectura</small></p>
              <h5 class="card-title">¿Para qué me sirve conocer el Score de Crédito?</h5>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 mx-auto mt-4 paginador ">
        <nav aria-label="Page navigation example ">
          <ul class="pagination text-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link " href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
