@import "styles.scss";
.load-modal{
    text-align: center;
    object{
        // width: 60%;
    }
    .title{
        color: $bright-blue;
        font-size:32px;
        line-height: 40px;
        font-weight: 300;
    }
}