@import "styles.scss";
.modal-confirm{
	.modal-content{
        border-radius: 16px;
        text-align: center;
	}
	.title{
		color: $secundary-color;
		font-size: 30px;
	}
	svg{
		fill: #807f7f;
		opacity: .5;
		font-weight: 300;
		width: 60%;
		margin: 5px auto;
		display: block;
	}
}