<div class="error">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 align-self-center">
        <img src="assets/icons/error.svg" alt="Vuelve al inicio" />
      </div>
      <div class="col-12 col-md-6 align-self-center">
        <h3>Lo sentimos</h3>
        <h4>Algo salió mal</h4>
        <p>Algunos de nuestros servicios no están funcionando actualmente.</p>
        <p>Puedes actualizar la página o volver a intentarlo más tarde.</p>
        <a routerLink="/ofertas" class="btn-mrkt btn-blue h-lg-btn w-40-btn" *ngIf="sesionC">
          <span>Ir al inicio</span>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <a routerLink="/" class="btn-mrkt btn-blue h-lg-btn w-40-btn" *ngIf="!sesionC">
          <span>Ir al inicio 2</span>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>      
    </div>
  </div>
</div>
