@import "styles.scss";
.product{
	background-color:$secundary-color;
	.title{
		line-height: 25px;
		text-align: left;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 12px;
		margin-top: 8px;
	}
}
.input-hidden {
	position: absolute;
	left: -9999px;
}
input[type=radio]:checked + label {
	// display: none;
	border: 1px solid #fff;
	background-color: $white;
	color: $secundary-color;
	border-radius: 10%;
	text-align: center;
}
input[type=radio] + label {
	text-align: center;
	border-radius: 10%;
	color: $white;
	background-color: $secundary-color;
	border: 1px solid #fff;
  width: 70px;
  height: 90px;
  transition: 100ms all;
}
input[type=radio]:checked + img {
	display: none;
}
input[type=radio] + label>img {
	width: 80%;
  margin-bottom: 8px;
}
input[type=radio] +  label>span {
		display: none;
}
input[type=radio]:checked + label>span{
		position: absolute;
		width: 35px;
		height: 35px;
		display: block;
		background-color: $secundary-color;
		color: $white;
		border-radius: 50%;
		top: 17px;
		left: 17px;
		text-align: center;
		padding-top: 8px;
}
.txt{
	font-family: $roboto;
	font-size: 12px;
}
