<div class="row product pt-3">
  <div class="col-3 mt-3 pr-2 p-0">
    <img src="assets/icons/new/megafono.svg" alt="" class="img-fluid">
  </div>
  <div class="col-8 pl-3 p-0">
    <div class="text p-0">
      <small>Ayudanos a mejorar</small>
      <div class="title">¿Para qué estas solicitando este crédito?</div>
    </div>
    <div class="row item-wrap">
      <div class="col item p-0">
        <input type="radio" name="product" id="ropa" class="input-hidden" />
        <label for="ropa">
          <img class="icon" src="assets/icons/new/ropa.svg" 
            alt="Ropa" />
          <span>&#10003;</span>
          <div class="txt">Ropa</div>
        </label>
      </div>
      <div class="col item p-0">
        <input type="radio" name="product" id="estudio" class="input-hidden" />
        <label for="estudio">
          <img class="icon" src="assets/icons/new/estudio.svg" 
            alt="estudio" />
            <span>&#10003;</span>
            <div class="txt">Estudios</div>
        </label>
      </div>
      <div class="col item p-0">
        <input type="radio" name="product" id="viaje" class="input-hidden" />
        <label for="viaje">
          <img class="icon" src="assets/icons/new/viaje.svg" 
            alt="viaje" />
            <span>&#10003;</span>
            <div class="txt">Viajes</div>
        </label>
      </div>
      <div class="col item p-0">
        <input type="radio" name="product" id="otros" class="input-hidden" />
        <label for="otros">
          <img class="icon" src="assets/icons/new/otros.svg" 
            alt="otros" />
            <span>&#10003;</span>
            <div class="txt">Otros</div>
        </label>
      </div>
    </div>
  </div>
</div>