<section class="confirm">
  <div class="bg-blue"></div>
  <div class="warning-gray">
    <p>Tu solicitud esta <span>En proceso</span>, ten a la mano tu número de radicado para hacer seguimiento a tu solicitud cuando lo necesites.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="box-company">
          <div class="imgCompany">
            <img src="{{ company != undefined ? company.entityimg : '' }}" alt="{{ company != undefined ? company.name : '' }}" class="imgCompantSrc"/>
          </div>
          <div class="txtCompany">
            <h2>{{ company != undefined ? company.name: '' }}</h2>
            <p>{{ applyDetail != undefined ? applyDetail.productName : '' }}</p>
          </div>
        </div> 
      </div>
      <div class="d-none d-md-block col-md-1"></div>
      <div class="col-12 col-md-4">
        <div class="box-dates">
          <div class="bullets border-bottom-box">
            <div class="img-bullet">
              <img src="assets/images/landing-confirm/estado.svg" alt="Estado" />
            </div>
            <div class="text-bullet">
              <h5>Estado</h5>
              <p class="txt-mobile">{{ this.broker.ofertSelected.card.offerValue }}</p>
            </div>
          </div>
          <div class="bullets border-bottom-box cell-50">
            <div class="img-bullet">
              <img src="assets/images/landing-confirm/referencia.svg" alt="Estado" />
            </div>
            <div class="text-bullet">
              <h5>Referencia</h5>
              <p>{{ confirmOffer != undefined ? confirmOffer.orderNumber: '' }}</p>
            </div>
          </div>
          <div class="bullets cell-50">
            <div class="img-bullet">
              <img src="assets/images/landing-confirm/fecha.svg" alt="Estado" />
            </div>
            <div class="text-bullet">
              <h5>Fecha</h5>
              <p>{{ (confirmOffer != undefined ? confirmOffer.applyDate: '') && (confirmOffer.applyDate | date: 'dd MMMM yyyy') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row d-block d-md-none">
      <div class="col-12 col-md-2">
        <div class="alert-mobile">
          <img src="assets/images/landing-confirm/alerta.svg" class="img-alert" />
        </div>
      </div>
      <div class="col-12 col-md-10">
        <div class="alert-mobile">
          <h3>Debes estar atento a tu email</h3>
          <p>Enviaremos un correo a <strong>"email"</strong>, con las instrucciones que debes seguir para
            finalizar tu solicitud.</p>
        </div>
      </div>
    </div>     -->
  </div>
</section>
<section class="what">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 padding-x-0">
        <div class="box-blue">
          <div class="row">
            <div class="col-2 col-md-1 align-self-end">
              <img src="assets/images/landing-confirm/super.svg" class="img-super" />
            </div>
            <div class="col-10 col-md-10 padding-l-0">
              <h2>¿Qué debo hacer?</h2>
              <div class="line-blue"></div>
              <div class="bullets-what">
                <div class="item" *ngFor="let detail of detailBullets">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <p>{{ detail }}</p>
                </div>
                <!-- <div class="item">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <p>Se ha enviado una <span>copia de tu solicitud</span> al mail ca*******@correo.com.</p>
                </div> -->
              </div>
              <div class="help">
                <div class="imgHelp">
                  <img src="assets/images/landing-confirm/ayuda.svg" alt="¿Necesitas ayuda?" />
                </div>
                <div class="txtHelp">
                  <h4>¿Necesitas ayuda?</h4>
                  <p><span>389 9673 - 340 278 9311</span></p>
                  <p>Lunes a viernes: 8:00 a.m. a 5:00 p.m. ayuda@lineru.com - www.luneru.com</p>
                </div>
              </div>
            </div>
          </div>          
        </div>        
      </div>
      <div class="co-12 col-md-6">
        <div class="summary">
          <h2>Resúmen de tu Solicitud</h2>
          <div class="line-blue"></div>
          <div class="table-summary">
            <div class="row-summary">
              <p class="description">Entidad</p>
              <p>{{ company != undefined ? company.name: '' }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Nit</p>
              <p>{{ company != undefined ? company.id: '' }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Producto</p>
              <p>{{ applyDetail != undefined ? applyDetail.productName : '' }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Radicado</p>
              <p>{{ confirmOffer != undefined ? confirmOffer.orderNumber: '' }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Fecha de radicado</p>
              <p>{{ (confirmOffer != undefined ? confirmOffer.applyDate: '') && (confirmOffer.applyDate | date: 'dd MMMM yyyy') }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Total a pagar</p>
              <p>{{ this.broker.ofertSelected.card.offerAproxValue }}</p>
            </div>
            <div class="row-summary">
              <p class="description">Total cuotas</p>
              <p>{{ this.broker.ofertSelected.card.offerValue }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-loading></app-loading>