<div class="container-fluid footer">
  <div class="container">
    <div class="row logo">
      <div class="col-10 mx-auto col-sm-4 pb-4 pt-3 pr-5">
        <img *ngIf="dataLogFoo.logo == undefined || dataLogFoo.logo != 1" class="icon" src="assets/icons/v2/logo_buscacredito-lg.svg" alt="Buscacrédito">
        <img *ngIf="dataLogFoo.logo == 1" class="icon" src="assets/icons/v2/logo_midc.svg" alt="Buscacrédito">
        <!-- <object  class="icon" type="image/svg+xml" data="assets/icons/v1/logo_buscacredito-lg.svg">
          Your browser does not support SVG
        </object> -->
      </div>
      <div class="mapsite col-12 col-sm-8">
        <ul class="row list-group list-group-flush d-sm-none">
          <li class="list-group-item">
              <button class="btn btn-link" data-toggle="collapse" data-target="#midatacash" aria-expanded="false" aria-controls="midatacash">
                  {{sesion.datos.footer?.seccion1.titulo}}
              </button>
              <div id="midatacash" class="collapse">
                <!-- <a href="" target="_blank" class="mapsite_link">Qué es Buscacrédito</a> -->
                <a href={{sesion.datos.footer?.seccion1.links.url2}} target="_blank" class="mapsite_link">
                  {{sesion.datos.footer?.seccion1.textos.txt2}}</a>
                <a href={{sesion.datos.footer?.seccion1.links.url3}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion1.textos.txt3}}</a>
                <a href={{sesion.datos.footer?.seccion1.links.url4}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion1.textos.txt4}}</a>
              </div>
          </li>
          <li class="list-group-item">
              <button class="btn btn-link" data-toggle="collapse" 
              data-target="#faqfo" aria-expanded="false" 
              aria-controls="faqfo">
              {{sesion.datos.footer?.seccion2.titulo}}
              </button>
              <div id="faqfo" class="collapse">
                <a href={{sesion.datos.footer?.seccion2.links.url2}} target="_blank" class="mapsite_link">
                    {{sesion.datos.footer?.seccion2.textos.txt2}}</a>
                <a href={{sesion.datos.footer?.seccion2.links.url3}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion2.textos.txt3}}</a>
                <a href={{sesion.datos.footer?.seccion2.links.url4}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion2.textos.txt4}}</a>
              </div>
          </li>
          <!-- <li class="list-group-item">
              <button class="btn btn-link" data-toggle="collapse" data-target="#somos" aria-expanded="false" aria-controls="somos">
                  Otras soluciones
              </button>
              <div id="somos" class="collapse">
                <a href="" target="_blank" class="mapsite_link">Historial de crédito</a>
                <a href="" target="_blank" class="mapsite_link">Mi data al día</a>
                <a href="" target="_blank" class="mapsite_link">C2C</a>
                <a href="" target="_blank" class="mapsite_link">Antifraude</a>
              </div>
          </li> -->
        </ul>
        <div class="footer-full d-none d-sm-block">
          <div class="row justify-content-around ">
            <div class="col-sm-4">
              <div class="title">{{sesion.datos.footer?.seccion1.titulo}}</div>
              <!-- <a href="" target="_blank" class="mapsite_link">Qué es buscadrédito</a> -->
              <a href={{sesion.datos.footer?.seccion1.links.url2}} target="_blank" class="mapsite_link">
                  {{sesion.datos.footer?.seccion1.textos.txt2}}</a>
              <a href={{sesion.datos.footer?.seccion1.links.url3}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion1.textos.txt3}}</a>
              <a href={{sesion.datos.footer?.seccion1.links.url4}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion1.textos.txt4}}</a>
            </div>
            <div class="col-sm-4">
              <div class="title">{{sesion.datos.footer?.seccion2.titulo}}</div>
              <a href={{sesion.datos.footer?.seccion2.links.url2}} target="_blank" class="mapsite_link">
                  {{sesion.datos.footer?.seccion2.textos.txt2}}</a>
              <a href={{sesion.datos.footer?.seccion2.links.url3}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion2.textos.txt3}}</a>
              <a href={{sesion.datos.footer?.seccion2.links.url4}} target="_blank" class="mapsite_link">{{sesion.datos.footer?.seccion2.textos.txt4}}</a>
            </div>
            <!-- <div class="col-sm-4">
              <div class="title">Otras soluciones</div>
              <a href="" target="_blank" class="mapsite_link">Historial de crédito</a>
              <a href="" target="_blank" class="mapsite_link">Mi data al día</a>
              <a href="" target="_blank" class="mapsite_link">C2C</a>
              <a href="" target="_blank" class="mapsite_link">Antifraude</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="brand">
  <img class="icon" src="assets/icons/Logo-Datacredito.svg" alt="">
  <p>
    <small>2019 Experian Information Solutions, Inc. Derechos reservados.</small>
  </p>
</div>